@import url("../assets/css/style.main.css");

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#page-content {
    min-height: var(--min-height);
}

.content-wrap {
    text-align: center;
    margin: 0 auto;
    max-width: 1440px;
    height: var(--min-height);
}

.headline {
    width: 150px;
    border-top: 5px solid black;
    left: 25px;
    top: 25px;
}

.headline_text {
    width: 100%;
    padding: 25px;
    text-align: left;
}

.headline_text::after {
    position: absolute;
    content: "";
    width: 100%;
    max-width: 280px;
    height: 5px;
    background-color: black;
}

.headline_text>h1 {
    font-size: 56px;
    margin: 10px 0 15px 0;
    width: auto;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}