@import url("../assets/css/style.main.css");

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
}

#page-content {
    min-height: var(--min-height);
}

.content-wrap {
    text-align: center;
    margin: 0 auto;
    max-width: 1440px;
    height: var(--min-height);
}

.headline {
    width: 150px;
    border-top: 5px solid black;
    left: 25px;
    top: 25px;
}

.headline-text {
    width: calc(100% - 50px);
    padding: 25px;
    text-align: left;
}

.headline-text::after {
    position: absolute;
    content: "";
    width: 100%;
    max-width: 280px;
    height: 5px;
    background-color: black;
}

.headline-text>h1 {
    font-size: clamp(30px, 4vw, 56px);
    margin: 10px 0 15px 0;
    width: auto;
}

h1 {
    font-size: clamp(26px, 4vw, 56px);
}

h2 {
    font-size: clamp(24px, 3.4vw, 36px);
}

h3 {
    font-size: clamp(22px, 3.0vw, 28px);
}

h4 {
    font-size: clamp(20px, 3vw, 24px);
}

p {
    font-size: clamp(16px, 2.5vw, 18px);

}

@media screen and (max-width: 768px) {
    #page-content {
        height: 100%;
    }

    .content-wrap {
        text-align: center;
        margin: 0 auto;
        max-width: 1440px;
        height: stretch;
    }
}

@media only screen and (max-width: 568px) {

    .content-wrap {
        text-align: center;
        margin: 0 auto;
        max-width: 1440px;
        height: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .headline-text::after {
        max-width: 160px !important;
    }
}