.backround_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--min-height);
    width: 100%;
    background-image: url("../images/Strant_Anker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
}

.backround_container_2 {
    min-height: var(--min-height);
    background-image: url('../images/wallpapers4screen.com-480x800.jpg');
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right;
}

.backround_container_3 {
    min-height: var(--min-height);
    background-image: url('../images/Leuchturm_optimized.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.backround_container_4 {
    min-height: var(--min-height);
    width: 850px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/list-850\ x\ 647.png');
    background-size: cover;
    opacity: 0.1;
}





@media only screen and (max-width: 995px) {
    .backround_container {
        min-height: calc(100vh - 0px);
    }

    .backround_container_2 {
         min-height: calc(100vh - 0px);
         background-size: cover;
    }
}