.buttons_container {
    position: relative;
    text-align: center;
    margin: 25px 25px
}

.primary-btn {
    text-decoration: none;
    background-color: rgba(236, 229, 167, 0.2);
    border: 1px solid #000000;
    color: #000000;
    width: 150px;
    display: inline-block;
    font-size: 21px;
    padding: 8px;
    font-weight: 500;
    transition: 0.35s;
}

.primary-btn:hover {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(182, 179, 179);
    color: black;
    font-weight: 600;
    transition: 0.35s;
}



.start_buttons {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 15%;
}

.betroffener_button {
    text-decoration: none;
    background-color: rgba(236, 229, 167, 0.2);
    border: 1px solid #000000;
    color: #000000;
    display: inline-block;
    font-size: 1.5em;
    padding: 8px;
    height: 30px;
    width: 130px;
    border-radius: 5px;
    transition: 0.35s;
    margin: 0px 40px 0px 40px;
}

.betroffener_button:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.787);
    border: 2px solid rgb(182, 179, 179);
    color: black;
    border-radius: 5px;
}
