@import url("../css/variablen.css");
@import url("../css/header.css");
@import url("../css/footer.css");
@import url("../css/home.css");
@import url("../css/backgrounds.css");
@import url("../css/button.css");

.aktuelles-text {
    position: relative;
    font-size: larger;
}

.link_container {
    display: block;
    margin: 120px 0 0 30px;
    float: left;
    clear: both;
    height: auto;
    width: 45%;
    text-align: left;
}

.icons {
    height: 20px;
    width: 20px;
}

.icon-p {
    height: auto;
    width: auto;
    margin: 10px 0;
}


/*        ------------------ Kontakt Seiten Content ------------------------        */
.kontakt-container {
    margin: 0 auto;
    transform: translate(3%);
    top: 22%;
    height: auto;
    width: 40%;
    text-align: left;
    padding: 10px;
    background-color: rgba(217, 220, 223, 0.774);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.kontakt-icon-container {
    position: relative;
    width: 50%;
    height: 25%;
    top: 0;
    left: 19px;
}

/*        ------------------End Kontakt Seiten Content ------------------------        */
/*        ------------------Info Seiten Content ------------------------        */

.angehörigen-text-container {
    position: absolute;
    text-align: left;
    width: 45%;
    margin: 0 0 0 0;
    padding: 5px;
    left: 24%;
    top: 116px;
    transform: translate(-50%);
    background-color: rgba(217, 220, 223, 0.774);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

ol {
    background-color: rgba(217, 220, 223, 0.774);
    margin: 70px 0 0 10px;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    list-style: none;
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.ol {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(217, 220, 223, 0.774);
    gap: 20px;
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#info-regeln {
    list-style: decimal;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;

}

#info-regeln li {
    margin: 20px 0 20px 0;
}


.angehörigen-ol {
    display: flex;
    align-items: center;
    background-color: rgba(217, 220, 223, 0.774);
    border-radius: 5px;
    width: 80%;
    height: 100px;
    list-style: none;
    margin: 0 auto;
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.ol-li {
    position: relative;
    height: 25px;
    width: 217px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid gainsboro;
    list-style: none;
    padding: 5px;
}

.ol-li:hover {
    background-color: #d2d4d4;
    transition: 255ms;
}

.ol-li a {
    font-size: larger;
    text-decoration: none;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-text {
    width: 100%;
    max-width: 600px;
}

.info-text-container {
    margin: auto auto;
    height: auto;
    width: 90%;
    text-align: left;
    padding: 28px 20px 20px 40px;
    background: linear-gradient(rgba(217, 220, 223, 0.774), rgba(217, 220, 223, 0.774));
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.info-text-container-2 {
    margin: auto 0px;
    height: auto;
    width: 35%;
    margin-left: 20px;
    margin-right: auto;
    text-align: left;
    padding: 28px 20px 20px 40px;
    background: linear-gradient(rgba(217, 220, 223, 0.774), rgba(217, 220, 223, 0.774));
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

/*        ------------------------- Footer Content ------------------------------        */

.datenschutz-container {
    text-align: left;
    padding: 15px 15px;
    background: linear-gradient(rgba(217, 220, 223, 0.774), rgba(217, 220, 223, 0.774));
}

.datenschutz-ul {
    padding: 10px 20px;
}

.cockie-container {
    border: solid 1px black;
    background-color: rgb(165, 165, 165);
    position: absolute;
    text-align: center;
    height: auto;
    bottom: 19%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
}

.cockie-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/*        -------------------- End Footer Content ------------------------------        */

@media (max-width: 1300px) {
    #footer-cookie {
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: inherit;
        height: auto;
    }

    #footer-cookie #description {
        width: 100%;
    }

    #footer-cookie #accept {
        width: 100%;
        margin-top: 15px;
    }

    #footer-cookie #accept a {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 995px) {
    .info-text-container-2 {
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (max-width: 768px) {
    .info-text-container {
        width: 80%;
        padding: 0 15px;
    }

    .ol {
        flex-direction: column;
    }
}


@media only screen and (max-width: 568px) {
    .info-text-container-2 {
        width: 80%;
        padding: 5px;
    }

    .cockie-container {
        border: solid 1px black;
        background-color: rgb(165, 165, 165);
        position: absolute;
        text-align: center;
        height: auto;
        bottom: 7%;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 10px;
    }

    #info-regeln {
        margin: unset;
        padding: 0 10px;

        li {
            margin: 20px 0 20px 0;
        }
    }

    .cockie-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}