@import url("../css/variablen.css");
@import url("../css/header.css");
@import url("../css/footer.css");
@import url("../css/home.css");
@import url("../css/backgrounds.css");
@import url("../css/button.css");

.aktuelles-text {
    position: relative;
    font-size: larger;
}

.link_container {
    display: block;
    margin: 120px 0 0 30px;
    float: left;
    clear: both;
    height: auto;
    width: 45%;
    text-align: left;
}


.icon_mail {
    position: relative;
    height: 20px;
    width: 20px;
    top: 6px;
    left: -10px;
}

.icon_tel {
    position: relative;
    height: 20px;
    width: 20px;
    top: 6px;
    left: -10px;
}

.icon_p {
    position: relative;
    height: 35px;
    width: 370px;
    margin: auto 0;
}


/*        ------------------ Kontakt Seiten Content ------------------------        */
.konatkt_container {
    margin: 0 0 0 0;
    transform: translate(3%);
    top: 22%;
    height: auto;
    width: 40%;
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: rgba(217, 220, 223, 0.774);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.person-card-1 {
    position: relative;
    margin: 30px 0 0 0;
}

.person-card-2 {
    position: relative;
    margin: 30px 0 0 0;
}

#foto_andi {
    display: block;
    position: relative;
    width: 100px;
    height: 130px;
    padding: 9px;
}

#foto_ich2 {
    display: block;
    position: relative;
    width: 100px;
    height: 130px;
    padding: 9px;
}

.kontakt_email_container {
    position: relative;
    width: 50%;
    height: 25%;
    top: 0;
    left: 19px;
}

/*        ------------------End Kontakt Seiten Content ------------------------        */
/*        ------------------Info Seiten Content ------------------------        */

.angehörigen_text_container {
    position: absolute;
    text-align: left;
    width: 45%;
    margin: 0 0 0 0;
    padding: 5px;
    left: 24%;
    top: 116px;
    transform: translate(-50%);
    background-color: rgba(217, 220, 223, 0.774);
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

ol {
    background-color: rgba(217, 220, 223, 0.774);
    margin: 70px 0 0 10px;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    list-style: none;
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.ol {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(217, 220, 223, 0.774);
    width: 80%;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#info_regeln {
    list-style: decimal;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 90%;
    height: auto;
    margin: 0 auto;

    li {
        margin: 20px 0 20px 0;
    }
}


.angehörigen-ol {
    display: flex;
    align-items: center;
    background-color: rgba(217, 220, 223, 0.774);
    border-radius: 5px;
    width: 80%;
    height: 100px;
    list-style: none;
    margin: 0 auto;
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.ol-li {
    position: relative;
    height: 25px;
    width: 217px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid gainsboro;
    list-style: none;
    padding: 5px;
}

.ol-li:hover {
    background-color: #d2d4d4;
    transition: 255ms;
}

.ol-li a {
    font-size: larger;
    text-decoration: none;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_text {
    width: 100%;
    max-width: 600px;
}

.info_text_container {
    margin: auto auto;
    height: auto;
    width: 90%;
    text-align: left;
    padding: 28px 20px 20px 40px;
    background: linear-gradient(rgba(217, 220, 223, 0.774), rgba(217, 220, 223, 0.774));
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.info_text_container_2 {
    margin: auto 15px;
    height: auto;
    width: 60%;
    text-align: left;
    padding: 28px 20px 20px 40px;
    background: linear-gradient(rgba(217, 220, 223, 0.774), rgba(217, 220, 223, 0.774));
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.75);

}

/*        ------------------------- Footer Content ------------------------------        */

.datenschutz_container {
    display: inline-block;
    position: relative;
    text-align: left;
    margin: 50px 0 0 10px;
    padding: 30px;
}

.datenschutz_ul {
    display: inline-block;
    position: relative;
}

.impressum {
    display: inline-block;
    position: relative;
    text-align: left;
    margin: 50px 0 0 10px;
    padding: 30px;
}

.cockie_container {
    border: solid 1px black;
    background-color: rgb(219, 213, 213, 0.65);
    position: absolute;
    text-align: center;
    height: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
}

.cockie_button {
    height: 30px;
    width: 100px;
    padding: 5px;
    margin-right: 90px;
    border-radius: 5px;
    background-color: rgba(116, 114, 114, 0.575);
    top: 50px;
    left: 45px;
}

.cockie_button:hover {
    background-color: rgba(255, 255, 255, 0.575);
    transition: 0.35s;
    cursor: pointer;
}

/*        -------------------- End Footer Content ------------------------------        */

@media (max-width: 1300px) {
    #footer-cookie {
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: inherit;
        height: auto;
    }

    #footer-cookie #description {
        width: 100%;
    }

    #footer-cookie #accept {
        width: 100%;
        margin-top: 15px;
    }

    #footer-cookie #accept a {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .info_text_container {
        width: 88%;
        padding: 5px;
    }

    .ol {
    flex-direction: column;
}
}